{% extends 'base.html' %}

{% block title %}ВХОД{% endblock %}

{% block content %}

<form class="login" method="POST">
    <div class="login__border">
        <h1>ВХОД</h1>
        {% csrf_token %}
    
        {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
    
            {% for error in field.errors %}
            <p style="color: red">
                {{ error }}
            </p>
            {% endfor %}
        </p>
        {% endfor %}
    
        <button type="submit">Войти</button>
    </form>
    </div>

<small>
    Вернуться на <a href="{% url 'quiz:index' %}">Главную страницу</a>
</small>

{% endblock %}