{% extends 'base.html' %}

{% block title %}ВХОД{% endblock %}

{% block content %}
<div class="section_form">

    <h1 class="title">ВХОД</h1>
    <form class="form" method="POST">
        <div>
            {% csrf_token %}
            
            {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}
                
                {% for error in field.errors %}
                <p style="color: red">
                    {{ error }}
                </p>
                {% endfor %}
            </p>
            {% endfor %}
            
            <button type="submit">Войти</button>
        </form>
    </div>
    
</div>
        <small>
            Вернуться на <a href="{% url 'quiz:index' %}">Главную страницу</a>
        </small>  
{% endblock %}